@model CharacterViewModel

@{
    ViewData["Title"] = "Character Gear";
}

<p>
  <a asp-route="CharacterIndex" asp-route-type="@((int)Model.Type)" asp-route-id="@Model.AccountId">&lt;&lt; Characters</a>
</p>

<div class="container">
  <div class="row">
    <div class="col-md text-center">
      <h1>Items</h1>
    </div>
    <div class="col-md">
      <picture class="float-right">
        <source media="(min-width: 992px)" srcset="@Model.EmblemBackgroundPath">
        <img src="@Model.EmblemPath" class="d-none d-md-block">
      </picture>
    </div>
  </div>
</div>  

<div class="container">
  <div class="row">
    <div class="col-6">
      @foreach(var item in Model.AllItems)
      {
        <div class="row">
            <a asp-route="ItemIndex" asp-route-type="@((int)Model.Type)"
                asp-route-accountId="@Model.AccountId"
                asp-route-characterId="@Model.CharacterId"
                asp-route-itemHash="@item.Hash"
                asp-route-instanceId="@item.InstanceId">
            @await Html.PartialAsync("ItemPartial", item)
          </a>
        </div>
      }
    </div>
    <div class="col-6">
      <ul>
        <li>Stats:
          <ul>
            @foreach(var stat in Model.Stats.Values)
            {
              <li>@stat.Name: @stat.Value</li>
            }
          </ul>
        </li>
        <li>Perks:
          <ul>
            @foreach(var perk in Model.ActivePerks)
            {
              <li><img src="@perk.Icon" width="48" height="48">@perk.Name</li>
            }
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
