@model ItemViewModel

@{
    ViewData["Title"] = "Item";
}

<div class="container">
    <div class="row">
        <a asp-route="CharacterDetails" asp-route-type="@((int)Model.Type)"
            asp-route-id="@Model.AccountId"
            asp-route-characterId="@Model.CharacterId">
            &lt;&lt; Character
        </a>
    </div>
    <div class="row">
        <h1>@Model.Item.Name</h1>
    </div>
    <div class="row">
        <h2>@Model.Item.Slot</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            @await Html.PartialAsync("ItemPartial", @Model.Item)
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ul>
                @foreach(var category in Model.Item.SocketCategories)
                {
                    <li>@category.Name: 
                        <ul>
                            @foreach(var socket in category.Sockets)
                            {
                                <li>
                                    <select>
                                        @foreach(var perk in socket.Perks)
                                        {
                                            <option>@perk.Name</option>
                                        }
                                    </select>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                @foreach(var stat in Model.Item.Stats)
                {
                    <li>@stat.Name: @stat.Value</li>
                }
            </ul>
        </div>
    </div>
</div>
